@import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bebas+Neue|Roboto&display=swap');

/* font-family: 'Bebas Neue', cursive;
font-family: 'Roboto', sans-serif; 
font-family: "Montserrat", sans-serif;*/


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

li, a, button {
  font-family: 'Bebas Neue', cursive;
    font-weight: 500;
    font-size: 20px;
    color: white;
    text-decoration: none;
}

header {
    padding: 30px 10%;
    background-color: #323232;
}

h1 {
  color: white;
  font-family: 'Bebas Neue', cursive;
  font-size: 54px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  cursor: pointer;
  margin: 0 auto;
  width: 100%;
}

.centerNav {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.navButtons {
  display: flex;
  justify-content: flex-end;
  list-style: none;
}

.homebtn {
  margin-right: 5px;
  max-width: 80%;
}

.cartbtn {
  margin-left: 5px;
  max-width: 80%;
}

.nav__links {
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    color: #990c00;
}

button {
    padding: 9px 25px;
    background-color: rgba(203, 29, 39, 1);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(244, 154, 6, 1);
}


/* end of nav */

/* Value Prop */
/* .vp {
  display: flex;
  align-self: center;
  height: 80px;
  width: 100%;
} 

.valuep {
  color: white;
  font-size: 30px;
  align-self: center; */
  
  h2 {
    color: black;
    font-family: 'Bebas Neue', cursive;
    font-size: 36px;
    text-align: center;
  }

.pageTitle {
  margin-top: 2%;
}

.hero {
    display: block;
    margin: auto auto;
    width: 100%;
    height: 15%;
}


.location {
    height: 30px;
    width: 30px;
    font-size: 30px;
    text-align: center;
}
  

/* product card */

 
.checkoutBody {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #ffddba;
}

.shopping-cart {
    width: 70%;
    height: auto; 
    margin: 50px auto;
    background: #FFFFFF;
    box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
    border-radius: 6px;
    border-color: black;
    display: flex;
    flex-direction: column;
    border: solid .05px #E1E8EE;
  }

  .title {
    height: 60px;
    border-bottom: 1px solid #E1E8EE;
    background-color: white;
    padding: 20px 30px;
    color: #5E6977;
    font-size: 18px;
    font-weight: 400;
    border: solid .05px #E1E8EE;
  }

  .finalTotal {
    border: solid .05px #E1E8EE;
  }
   
  .item {
    padding: 10px 30px;
    height: 120px;
    display: flex;
    border: solid 0.5px #E1E8EE;
  }
   
  .item:nth-child(3) {
    border-top:  1px solid #E1E8EE;
    border-bottom:  1px solid #E1E8EE;
  }

  .buttons {
    position: relative;
    padding-top: 30px;
    margin-right: 60px;
  }
  .delete-btn,
  .like-btn {
    display: inline-block;
    Cursor: pointer;
  }
  .delete-btn {
    width: 18px;
    height: 17px;
    background: url(images/delete-icn.svg) no-repeat center;
  }
   
  .like-btn {
    width: 18px;
    height: 17px;
    background: url(images/pencil-edit-button.png) no-repeat center;
    margin-left: 5px;
  }
  /* .like-btn {
    position: absolute;
    top: 9px;
    left: 15px;
    background: url(images/twitter-heart.png);
    width: 60px;
    height: 60px;
    background-size: 2900%;
    background-repeat: no-repeat;
  } */

  .is-active {
    animation-name: animate;
    animation-duration: .8s;
    animation-iteration-count: 1;
    animation-timing-function: steps(28);
    animation-fill-mode: forwards;
  }
   
  @keyframes animate {
    0%   { background-position: left;  }
    50%  { background-position: right; }
    100% { background-position: right; }
  }

  .image {
    margin-right: 50px;
  }
   
  .menuPics {
      max-height: 100%;
      margin-bottom: 5px;
  }
  .description {
    padding-top: 10px;
    margin-right: 60px;
    width: 115px;
  }
   
  .description span {
    display: block;
    font-size: 14px;
    color: #43484D;
    font-weight: 400;
  }
   
  .description span:first-child {
    margin-bottom: 5px;
  }
  .description span:last-child {
    font-weight: 300;
    margin-top: 8px;
    color: #86939E;
  }

  .quantity {
    padding-top: 20px;
    margin-right: 60px;
  }
  .quantity input {
    -webkit-appearance: none;
    border: none;
    text-align: center;
    width: 32px;
    font-size: 16px;
    color: #43484D;
    font-weight: 300;
  }
   
  button[class*=btn] {
    /* width: 30px;
    height: 30px; */
    background-color: #E1E8EE;
    border-radius: 6px;
    border: none;
    cursor: pointer;
  }
  .minus-btn img {
    margin-bottom: 3px;
  }
  .plus-btn img {
    margin-top: 2px;
    padding-right: 3px;
  }
   
  button:focus,
  input:focus {
    outline:0;
  }

  .total-price {
    width: 83px;
    padding-top: 27px;
    text-align: center;
    font-size: 16px;
    color: #43484D;
    font-weight: 300;
  }

  @media (max-width: 800px) {
    .shopping-cart {
      width: 100%;
      height: auto;
      overflow: hidden;
    }
    .item {
      height: auto;
      flex-wrap: wrap;
      justify-content: center;
    }
    .image img {
      width: 50%;
    }
    .image,
    .quantity,
    .description {
      width: 100%;
      text-align: center;
      margin: 6px 0;
    }
    /* .buttons {
      margin-right: 20px;
    } */
  }
/* end of shopping cart */

 /* checkout */

 .checkOutBtn {
     text-align: center;
     margin: 2%;
 }

 .checkOutBtn2 {
  padding: 7px 1px;
  flex-wrap: nowrap;
  width: 50%;
  text-align: center;
  margin: 1%;
  background-color: RGBA(244,154,6,1);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.checkOutBtn2:hover {
  background-color: RGBA(144,12,0,1);
}

 .shopping-cart2 {
    width: 70%;
    margin: 80px auto;
    background: #FFFFFF;
    box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
    border-radius: 6px;
    border-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
  }

.cForm {
  display: flex;
  justify-content: center;
  margin-left: 15%;
}


